<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./static/update.js">
    </script>
    <link rel="stylesheet" href="./static/index.css">
</head>
<body>
   <div class="box">
     <div><img id="ppic" class="clip" src="https://pbs.twimg.com/profile_images/909549046020308992/iUwzkyXZ_400x400.jpg"></div>
     <button class="dot2" onclick="update_ntws(deivede73)"></button>
     <div class="dot3"><div class="not" id="deivede73">{{ntw}}</div></div>
  </div>

<div class="box">
     <div><img id="ppic" class="clip" src="https://pbs.twimg.com/profile_images/617404992274698240/s1QyJMCT_400x400.jpg"></div>
     <button class="dot2" onclick="update_ntws(playactionfa)"></button>
     <div class="dot3"><div class="not" id="playactionfa">{{ntw}}</div></div>
  </div>

</body>
</html>
